*{
    font-family: Helvetica, sans-serif;
}#container{
    display: flex;
    width: 90%;
    margin: auto;
}
#categories{
    line-height: 35px;
}
#categories>h2{
    padding: 10px 0;
    font-weight: 600;
    font-size: bold;
}
#sideWall{
    width: 20%;
}
select{
    width: 90%;
    margin: 10px 0;
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
hr{
    height: 1px;
    background-color: rgb(226, 221, 221);
    border: none;
}
#tag{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 150px;
    gap: 5px;   
    
}
#tag>div{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
    height: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
#tag>div>p{
    /* padding-top: 5px; */
    display: flex;
    width: 80%;
    align-items: center;

}
#items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#items>div{
    padding: 10px;
    margin: 10px;
    line-height: 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#items>div:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#items>div>img{
    width: 100%;
}
#items>div>p>i{
    
    padding: 10px 0;
}