.Add1{
    margin-top: 10px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.Add1>img{
    margin-right: 15px;
   display: flex;
   flex-direction: column;
   line-height: 1.25;
   text-align: center;
}

.shipping{
    background-color: white;
    /* border: 2px solid red; */
    height: auto;
    padding: 10px 15px;
}

.flex{
    position: relative;
}


.flex>div:nth-child(2)
{
    position: absolute;
    top: -2px;
    left: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex button{
   border-radius: 20px;
   width: 200px;
   /* height: 40px;
   width: 150px; */
    padding: 8px 20px ;
    border: 1px solid white;
    margin-top: 10px;
    background-color: red;
    color: white
}